proyecto/vendor/
proyecto/node_modules/
proyecto/npm-debug.log
proyecto/yarn-error.log

# Laravel 4 specific
proyecto/bootstrap/compiled.php
proyecto/app/storage/

# Laravel 5 & Lumen specific
proyecto/public/storage
proyecto/public/hot

# Laravel 5 & Lumen specific with changed public path
proyecto/public_html/storage
proyecto/public_html/hot

proyecto/storage/*.key
proyecto/.env
proyecto/Homestead.yaml
proyecto/Homestead.json
proyecto/.vagrant
proyecto/.phpunit.result.cache

proyecto/public/build
proyecto/storage/pail
proyecto/.env.backup
proyecto/.env.production
proyecto/.phpactor.json
proyecto/auth.json
